  <!DOCTYPE html>
<html>
<head>
  <title>Libros</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>Tenemos los Siguientes Libros</p>
 <div>
   <ul>

<% @book.each do |libro| %>
  
<div class="btn btn-lg btn-success">
     <br>
  <h3>Id: <%= libro.id %>   </h3>
  <p>Titulo:  <%= libro.title %> </p>
  <p>Categoria: <%= libro.category %> </p>
  <p>Editorial: <%= libro.publishing %> </p>
  <p>Disponibles: <%= libro.stock %> </p>  
  </div>  
  <%end %>
  
</ul>
<%= yield %>

  </div>
</body>
</html>
