<h3> nuevo author </h3>

<%= form_for Book.new do|f| %>
<%if @book.errors.any?%>
<div id="error_explanation">
  <p> Error al guardar el libro</p>
</div>
<%end %>

<div class ="field">
  <%= f.label :title, "Titulo" %><br>
  <%= f.text_field :title %>
</div>

<div class ="field">
  <%= f.label :category, "Categoria" %><br>
  <%= f.text_field :category %>
</div>

<div class ="field">
  <%= f.label :publishing %><br>
  <%= f.text_field :publishing %>
</div>

<div class ="field">
  <%= f.label :stock, "Inventario" %><br>
  <%= f.text_field :stock %>
</div><br>

<div class="actions">
  <%= f.submit "guardar" %>
</div>

<%end%>

